.cards_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    &__item {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 10px 20px;
        gap: 20px;
        height: 469px;
        width: 359px;

        background: var(--white-color);
        border-radius: 15px;

        &:hover {

            box-shadow: -10px 10px 0px var(--brand-color);
            border-radius: 15px;

        }
    }

    &__img {

        max-width: 339px;
        height: 147px;
        border-radius: 13.0667px;

    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        height: 182px;

        text-wrap: wrap;
        text-overflow: ellipsis;
    }

    &__tags {
        order: -1;
    }

    &__h3 {
        color: var(--black-color);
    }

    &__p {
        color: var(--dark-gray-color);
    }

    &__date {
        color: var(--gray-color);
    }

    &__wrap {
        padding: 0 10px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 10px;
        gap: 20px;

        height: 272px;

    }

    @media (min-width:768px) and (max-width: 1185px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    @media (min-width:372px) and (max-width:768px) {
        flex-wrap: wrap;
        justify-content: center;

        &__item {

            max-width: 353px;
            height: 467px;

            padding: 0;
            padding-bottom: 10px;
            background: #FFFFFF;
            border-radius: 8px;
            gap: 10px;

        }

        &__img {

            max-width: 353px;
            height: 184px;

            border-radius: 8px;

        }

        &__h3_28 {
            // несоответсвие в макете
            font-weight: 700 !important;
            font-size: 28px !important;
            line-height: 105% !important;

        }

        &__content {
           
            padding: 10px;
        }

        &__slide {
            max-width: 302px;

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            gap: 15px;
            // height: 412px;
            border-radius: 10px;

            &:hover {
                box-shadow: none;
            }

            .cards_items__img {
                width: 282px;
                height: 147px;

                border-radius: 8px;

            }

            ._cards_items__wrap {
                padding: 0 10px;
                gap: 15px;
            }
        }
    }
    @media screen and (max-width:371px) {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;

        &__item {

            max-width: 100%;
          
        }

        &__img {

            max-width: 100%;

        }
        &__wrap {
            padding: 0;
        }
    }
}

.desc_tags {
    gap: 5px;

    &__card {

        &:nth-child(2n+2) {
            margin-right: 15px;
        }

        &:last-of-type {
            margin: 0;

        }
    }
}

.desc_tags_swiper {
    text-wrap: nowrap;
    width: 100%;
    // justify-content: space-between;
    overflow: hidden;

    a {
        &:hover {
            box-shadow: none;
        }
    }

    &:nth-child(2n+2) {
        margin-right: 34.5px;
    }

    &:nth-child(4) {
        margin: 0;
        display: none;

    }

}

.desc_tags_card {
    width: 100%;
  text-wrap: nowrap;
}