.tags_items {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    &__tag {
        color: var(--blue-color);
        padding: 6px 10px;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        border-radius: 16px;

        &:hover {
            background: var(--blue-color-bg);
            color: var(--white-color);
        }

        &:active {
            background: var(--brand-color);

        }

        @media screen and (max-width:768px) {

            padding: 3px 5px;
        }
    }

}