:root {
    --black-color: #202226; //Черный
    --dark-gray-color: #595959; //Темно-серый
    --gray-color: #ADADAD; //Серый2

    --background-color: #F4F2F3 ; // Фон

    --brand-color-dark: #002270; //Темный брендовый
    --brand-color: #0C50E9; // Брендовый

    --blue-color: #8CA9EA; // Голубой 1
    --blue-color-bg: #A8BFF6; // Голубой фоновый

    --blue-color-title : #C3D1F1; // Голубой заголовок

    --light-blue-color:  #E0EAFF;//Голубой светлый

    --quote-bg-color: #F1F5FF;//Фон цитаты

    --white-color:#FFFFFF;// Белый
    --yellow-color:#F8E71C;// Желтый
    
}